@boby-color: #f8f8f9;
html,
body {
    height: 100%;
    background-color: @boby-color;
}

body {
    .wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
        & > .container {
            padding: 70px 15px 20px;
        }
        .navbar-inverse {
            background-color: #507299;
            border-color: #426398;
            .navbar-brand {
                color: #f8f8f9;
            }
        }
        .footer {
            height: 60px;
            background-color: #f5f5f5;
            border-top: 1px solid #ddd;
            padding-top: 20px;
        }
    }
    .jumbotron {
        text-align: center;
        background-color: transparent;
        .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
    }
    .not-set {
        color: #c55;
        font-style: italic;
    }
    a {
        &.asc {
            &:after {
                content: "\e151";
            }
        }
        &.desc {
            &:after {
                content: "\e152";
            }
        }
    }
    .sort-numerical {
        a {
            &.asc {
                &:after {
                    content: "\e153";
                }
            }
            &.desc {
                &:after {
                    content: "\e154";
                }
            }
        }
    }
    .sort-ordinal {
        a {
            &.asc {
                &:after {
                    content: "\e155";
                }
            }
            &.desc {
                &:after {
                    content: "\e156";
                }
            }
        }
    }
    .grid-view {
        th {
            white-space: nowrap;
        }
    }
    .hint-block {
        display: block;
        margin-top: 5px;
        color: #999;
    }
    .error-summary {
        color: #a94442;
        background: #fdf7f7;
        border-left: 3px solid #eed3d7;
        padding: 10px 20px;
        margin: 0 0 15px 0;
    }
    .nav {
        li {
            & > form {
                & > button {
                    &.logout {
                        padding: 15px;
                        border: none;
                    }
                }
            }
        }
        & > li {
            & > form {
                & > button {
                    &.logout {
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    caption {
        padding: 10px;
        color: white;
        background: #8FD4C1;
        font-size: 18px;
        text-align: left;
        font-weight: bold;
    }
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        border-collapse: collapse;
        color: #686461;
        tr {
            th {
                border-bottom: 3px solid #B9B29F;
                padding: 10px;
                text-align: inherit;
            }
            td {
                padding: 10px;
            }
            &:nth-child(odd) {
                background: white;
            }
            &:nth-child(even) {
                background: #E8E6D1;
            }
        }
    }
    div {
        &.body-content {
            text-align: center;
        }
    }
}

body a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

body .nav > li > form > button.logout:focus,
body .nav > li > form > button.logout:hover {
    text-decoration: none;
}
